# build target
target
bin/

# tests
test_scratch/
*.log
.keys
.burrow*
burrow.toml
burrow???.toml

# Temporary / cached
*.swp
.idea
.vscode

commit_hash.txt

tests/keys/
.output.json
vendor/
node_modules
js/dist
