[prune]
  go-tests = true
  unused-packages = true
  non-go = true

# Because Tendermint did this, we have to...
[[override]]
  name = "google.golang.org/genproto"
  revision = "7fd901a49ba6a7f87732eb344f6e3c5b19d1b200"